data/mlflow.sqlite3
data/automl/*
**/*.pdf
data/ovr_workflows.pkl
data/workflows_0_01.pkl
data/workflows_0_02.pkl
data/workflows_nom_min_5.pkl
data/workflows.pkl
*/.ipnyb_checkpoints/*
3ipynb_checkpoints/.gitignore-checkpoint
notebooks/.ipynb_checkpoints/EDA_v2-checkpoint.ipynb
notebooks/.ipynb_checkpoints/*
.ipynb_checkpoints/*
data/bgclf.pkl
notebooks/dask-worker-space
reports/simplified_files/*
imgs/.ipynb_checkpoints/*
reports/simplified*
data/tpot/*
data/tpot*
FSketch/__pycache__/*
FSketch/__pycache__/FSketch.cpython-39.pyc
FSketch/.ipynb_checkpoints/*
data/tmp/*
featboost/.ipynb_checkpoints/*
featboost/__pycache__/*
.idea/*
/data/tmp3/*
/data/tmp*/*
wheel/*
.venv/*
*/__*/

wheel.tar.xz
notebooks/print_table/.ipynb_checkpoints/Tablify-checkpoint.py
notebooks/print_table/.ipynb_checkpoints/__init__-checkpoint.py
notebooks/print_table/__pycache__/Tablify.cpython-39.pyc
notebooks/print_table/__pycache__/__init__.cpython-39.pyc
