data/mlflow.sqlite3
**/*.pdf
data/ovr_workflows.pkl
data/workflows_0_01.pkl
data/workflows_0_02.pkl
data/workflows_nom_min_5.pkl
data/workflows.pkl
*/.ipnyb_checkpoints/*
3ipynb_checkpoints/.gitignore-checkpoint
notebooks/.ipynb_checkpoints/EDA_v2-checkpoint.ipynb
notebooks/.ipynb_checkpoints/*
.ipynb_checkpoints/*
data/bgclf.pkl
